{{! Displays the blog }}
<div class="text-center">
  <div class="card-header">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>

{{! displays section to allow user to create a new comment }}
{{#if logged_in}}
  <div class="">
    <div class="">
      <h3>Create a new comment:</h3>
      <form class="form new-comment-form">
        <div class="form-group">
          <textarea
            type="text"
            class="form-input"
            id="comment-desc"
            name="comment-desc"
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          id="submitbtn"
          data-id="{{id}}"
        >Create</button>
      </form>
    </div>
  </div>
{{/if}}
<script src="/js/comment.js"></script>